* {
  /*
    border: 1px solid black;
    */
  border: none;
  font-size: inherit;
  overflow: hidden;
}

html {
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #000;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
}

.rowHolder {
  display: flex;
  flex-direction: column;
  height: 10rem;
  overflow-y: auto;
  flex: 1;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.fixed {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.path {
  font-size: 0.6rem;
}

.trunc {
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 Anything truncated should be shown on mouseover so that user can see details
 */
.trunc:hover {
  white-space: normal;
}

.center {
  text-align: center;
}

.pad {
  padding: 0.2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.first {
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.middle {
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.last {
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.only {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.lockIcon {
  background: url(icons/lock.svg);
}

.filesIcon {
  background: url(icons/files-empty.svg);
}

.filesIcon:hover {
  background: url(icons/highlight/files-empty.svg);
}

.filesIcon:focus {
  background: url(icons/selected/files-empty.svg);
}

.fileIcon {
  background: url(icons/file.svg);
}

.folderIcon {
  background: url(icons/folder-open.svg);
}

.crossIcon {
  background: url(icons/cross.svg);
}

.spinnerIcon {
  background: url(icons/spinner.svg);
}

.openIcon {
  background: url(icons/folder-open.svg);
}

.openIcon:hover {
  background: url(icons/highlight/folder-open.svg);
}

.openIcon:focus {
  background: url(icons/selected/folder-open.svg);
}

.deleteIcon {
  background: url(icons/delete.svg);
}

.deleteIcon:hover {
  background: url(icons/highlight/delete.svg);
}

.deleteIcon:focus {
  background: url(icons/selected/delete.svg);
}

.rightIcon {
  background: url(icons/right.svg);
}

.rightIcon:hover {
  background: url(icons/highlight/right.svg);
}

.rightIcon:focus {
  background: url(icons/selected/right.svg);
}

.leftIcon {
  background: url(icons/left.svg);
}

.leftIcon:hover {
  background: url(icons/highlight/left.svg);
}

.leftIcon:focus {
  background: url(icons/selected/left.svg);
}

.checkedIcon {
  background: url(icons/checked.svg);
}
.checkedIcon:hover {
  background: url(icons/highlight/checked.svg);
}

.uncheckedIcon {
  background: url(icons/unchecked.svg);
}
.uncheckedIcon:hover {
  background: url(icons/highlight/unchecked.svg);
}
